@page
@model FishPlanting.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Fish Planting Demo";
}

<h1>@ViewData["Title"]</h1>

<div id="app">

</div>

<script src="~/js/mithril.min.js"></script>
<script src="~/js/fish-planting-client-mithril.js"></script>
